<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strinder</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
    </tr>
    </thead>
    <tbody>
    <h1>Strinder</h1>
    <tr th:each="genre : ${genres}">
        <td th:text="${genre.id}"/>
        <td th:switch="${userType}">
            <a th:case="${T(net.droth.strinder.view.model.UserType).HOST}" th:text="${genre.name}" th:href="'/u/' + ${userPair.getHost().getId()} + '/g/' + ${genre.id}"/>
            <a th:case="${T(net.droth.strinder.view.model.UserType).GUEST}" th:text="${genre.name}" th:href="'/u/' + ${userPair.getGuest().getId()} + '/g/' + ${genre.id}"/>
        </td>
    </tr>
    </tbody>
</table>
<div th:switch="${userType}">
    <p th:case="${T(net.droth.strinder.view.model.UserType).HOST}" th:text="'Share URL: http://localhost:8080/u/'+ ${userPair.getGuest().getId()}"/>
    <p th:case="${T(net.droth.strinder.view.model.UserType).GUEST}" th:text="'Share URL: http://localhost:8080/u/'+ ${userPair.getHost().getId()}"/>
</div>
<div th:switch="${userType}">
    <a th:case="${T(net.droth.strinder.view.model.UserType).HOST}" th:href="'http://localhost:8080/u/'+ ${userPair.getHost().getId()} + '/matches'">Matches</a>
    <a th:case="${T(net.droth.strinder.view.model.UserType).GUEST}" th:href="'http://localhost:8080/u/'+ ${userPair.getGuest().getId()} + '/matches'">Matches</a>
</div>
</body>
</html>