<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select</title>
</head>
<body>
<p th:text="'Selected genre: ' + ${genre.id} + ' - ' + ${genre.name}"/>

<ul>
    <li th:text="'poster_path: ' + ${movie.poster_path}"/>
    <li th:text="'adult: ' + ${movie.adult}"/>
    <li th:text="'overview: ' + ${movie.overview}"/>
    <li th:text="'release_date: ' + ${movie.release_date}"/>
    <li th:text="'genre_ids: ' + ${movie.genre_ids}"/>
    <li th:text="'id: ' + ${movie.id}"/>
    <li th:text="'original_title: ' + ${movie.original_title}"/>
    <li th:text="'original_language: ' + ${movie.original_language}"/>
    <li th:text="'title: ' + ${movie.title}"/>
    <li th:text="'backdrop_path: ' + ${movie.backdrop_path}"/>
    <li th:text="'popularity: ' + ${movie.popularity}"/>
    <li th:text="'vote_count: ' + ${movie.vote_count}"/>
    <li th:text="'video: ' + ${movie.video}"/>
    <li th:text="'vote_average: ' + ${movie.vote_average}"/>
</ul>

<div>
    <a th:href="'/u/' + ${userId} + '/g/' + ${genreId} + '/jop/' + ${movie.id}">jop</a>
</div>
<div>
    <a th:href="'/u/' + ${userId} + '/g/' + ${genreId} + '/nop/' + ${movie.id}">nop</a>
</div>

<img th:src="${posterPath}" th:alt="${movie.title}"/>

<div th:switch="${userType}">
    <p th:case="${T(net.droth.strinder.view.model.UserType).HOST}"
       th:text="'Share URL: http://localhost:8080/u/'+ ${userPair.getGuest().getId()}"/>
    <p th:case="${T(net.droth.strinder.view.model.UserType).GUEST}"
       th:text="'Share URL: http://localhost:8080/u/'+ ${userPair.getHost().getId()}"/>
</div>
<div th:switch="${userType}">
    <a th:case="${T(net.droth.strinder.view.model.UserType).HOST}" th:href="'http://localhost:8080/u/'+ ${userPair.getHost().getId()} + '/matches'">Matches</a>
    <a th:case="${T(net.droth.strinder.view.model.UserType).GUEST}" th:href="'http://localhost:8080/u/'+ ${userPair.getGuest().getId()} + '/matches'">Matches</a>
</div>
</body>
</html>